@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 992px) {
  .contact__form-control-textaria {
    width: 400px;
  }
  .about__section {
    flex-direction: column;
    align-items: center;
  }
  .skills__frontend,
  .skills__backend,
  .skills__tools {
    flex: 100%;
  }
}
